.idea/

.DS_Store

application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

system
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
assets
/assets/


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.zip
*.wfp
*.mp4
*.m4a
*.webm
*.fsthumb
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/config/config.php
application/config/config.php
